<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>fg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>play1</key>
            <dict>
                <key>frame</key>
                <string>{{2,3078},{625,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,327}}</string>
                <key>sourceSize</key>
                <string>{625,327}</string>
            </dict>
            <key>play2</key>
            <dict>
                <key>frame</key>
                <string>{{629,3249},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>shezhi1</key>
            <dict>
                <key>frame</key>
                <string>{{629,3078},{161,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,166}}</string>
                <key>sourceSize</key>
                <string>{161,166}</string>
            </dict>
            <key>shezhi2</key>
            <dict>
                <key>frame</key>
                <string>{{629,3246},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_tp-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2052,3407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0293db69def1b0efca1b50f65b64ef42$</string>
            <key>textureFileName</key>
            <string>menu_tp-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
