<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bagain</key>
            <dict>
                <key>frame</key>
                <string>{{961,1045},{491,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,339}}</string>
                <key>sourceSize</key>
                <string>{491,339}</string>
            </dict>
            <key>Bditu</key>
            <dict>
                <key>frame</key>
                <string>{{495,353},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
            <key>Bjixu</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
            <key>again</key>
            <dict>
                <key>frame</key>
                <string>{{961,704},{491,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,339}}</string>
                <key>sourceSize</key>
                <string>{491,339}</string>
            </dict>
            <key>ditu</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
            <key>jixu</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
            <key>start1</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{474,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,476}}</string>
                <key>sourceSize</key>
                <string>{474,476}</string>
            </dict>
            <key>start2</key>
            <dict>
                <key>frame</key>
                <string>{{478,704},{481,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,471}}</string>
                <key>sourceSize</key>
                <string>{481,471}</string>
            </dict>
            <key>start3</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{473,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,477}}</string>
                <key>sourceSize</key>
                <string>{473,477}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1463,1463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:906969cf51c64e2e7546683f43d1b895$</string>
            <key>textureFileName</key>
            <string>win-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
