<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_catcher_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{846,841},{207,174}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,184},{207,174}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{510,430},{213,208}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,90},{213,208}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{761,629},{207,210}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{207,210}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{552,645},{207,210}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{346,211},{217,166}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{217,166}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{174,211},{217,170}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{217,170}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{217,170}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,169},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{637,857},{207,174}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,184},{207,174}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{342,649},{213,208}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,90},{213,208}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{838,420},{207,210}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{207,210}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{838,211},{207,210}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{342,430},{217,166}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{217,166}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{217,170}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_7</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{217,170}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_jump_back_8</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{217,170}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,169},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{428,864},{207,174}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,184},{207,174}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{211,182}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,151},{211,182}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{174,649},{217,166}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{217,166}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,170}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,169},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{676,211},{211,160}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,194},{211,160}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{207,174}}</string>
                <key>offset</key>
                <string>{1,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,197},{207,174}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{215,868},{211,180}}</string>
                <key>offset</key>
                <string>{1,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,192},{211,180}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{174,430},{217,166}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,184},{217,166}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,170}}</string>
                <key>offset</key>
                <string>{0,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,195},{217,170}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
            <key>s_catcher_run_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{514,211},{211,160}}</string>
                <key>offset</key>
                <string>{1,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,211},{211,160}}</string>
                <key>sourceSize</key>
                <string>{217,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_catcher_ani-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1054,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa313246ffbe6142413bb9ad876aaa4$</string>
            <key>textureFileName</key>
            <string>s_catcher_ani-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
