<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_catcher_drop0_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_2</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_3</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_4</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_5</key>
            <dict>
                <key>frame</key>
                <string>{{223,722},{98,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{98,116}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop1_1</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{131,142}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_2</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,148}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,170}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>s_catcher_drop2_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{151,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{151,116}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{155,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_3</key>
            <dict>
                <key>frame</key>
                <string>{{219,597},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_4</key>
            <dict>
                <key>frame</key>
                <string>{{206,472},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop3_1</key>
            <dict>
                <key>frame</key>
                <string>{{409,244},{114,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_2</key>
            <dict>
                <key>frame</key>
                <string>{{540,234},{114,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_3</key>
            <dict>
                <key>frame</key>
                <string>{{656,234},{114,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_4</key>
            <dict>
                <key>frame</key>
                <string>{{399,539},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_5</key>
            <dict>
                <key>frame</key>
                <string>{{772,232},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{696,746},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{498,529},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{604,529},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{602,339},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{711,631},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{709,342},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{411,760},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{411,649},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{711,430},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{384,433},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{499,746},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{499,638},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{711,520},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_6</key>
            <dict>
                <key>frame</key>
                <string>{{323,720},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_7</key>
            <dict>
                <key>frame</key>
                <string>{{311,543},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_8</key>
            <dict>
                <key>frame</key>
                <string>{{384,345},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{606,746},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{493,435},{107,92}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,75},{107,92}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{298,432},{109,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{273,344},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{786,752},{107,80}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,97},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{495,345},{105,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,98},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{606,637},{107,90}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,96},{107,90}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{137,759},{109,84}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{298,256},{109,86}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{602,447},{107,80}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,105},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_speedUp0_1</key>
            <dict>
                <key>frame</key>
                <string>{{409,148},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_2</key>
            <dict>
                <key>frame</key>
                <string>{{274,148},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_3</key>
            <dict>
                <key>frame</key>
                <string>{{134,264},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{134,376},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{135,152},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp1_1</key>
            <dict>
                <key>frame</key>
                <string>{{797,603},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_2</key>
            <dict>
                <key>frame</key>
                <string>{{797,686},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_3</key>
            <dict>
                <key>frame</key>
                <string>{{133,618},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_4</key>
            <dict>
                <key>frame</key>
                <string>{{120,477},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{797,520},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{311,654},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{681,146},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{540,148},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{871,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d5531098809378be46260315da9702$</string>
            <key>textureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
