<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_catcher_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{761,662},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{482,226},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{456,118},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{482,563},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{757,752},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{673,534},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{772,461},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{684,423},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{483,671},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{467,455},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{375,261},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{549,779},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_6</key>
            <dict>
                <key>frame</key>
                <string>{{772,350},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_7</key>
            <dict>
                <key>frame</key>
                <string>{{684,312},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_8</key>
            <dict>
                <key>frame</key>
                <string>{{774,239},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{671,645},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{588,203},{107,92}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,75},{107,92}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{671,752},{109,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{589,670},{107,80}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,97},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{761,572},{105,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,98},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{682,203},{107,90}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,96},{107,90}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{375,369},{109,84}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{688,94},{109,86}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{589,561},{107,80}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,105},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_speedUp0_1</key>
            <dict>
                <key>frame</key>
                <string>{{133,771},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_2</key>
            <dict>
                <key>frame</key>
                <string>{{267,320},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_3</key>
            <dict>
                <key>frame</key>
                <string>{{250,466},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{288,605},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{138,466},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp1_1</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_2</key>
            <dict>
                <key>frame</key>
                <string>{{483,778},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_3</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_4</key>
            <dict>
                <key>frame</key>
                <string>{{270,148},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{799,90},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{799,173},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{397,712},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{396,571},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>羊吃药1-2-3-4-位移/s_catcher_drop_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{131,142}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>羊吃药1-2-3-4-位移/s_catcher_drop_2_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{131,148}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>羊吃药1-2-3-4-位移/s_catcher_drop_2_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,170}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>羊吃药1-2-3-4-位移/s_catcher_drop_2_4</key>
            <dict>
                <key>frame</key>
                <string>{{264,745},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>羊遇药水1-2-（3-3-4）循环/s_catcher_drop_3_1</key>
            <dict>
                <key>frame</key>
                <string>{{135,627},{151,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{151,116}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>羊遇药水1-2-（3-3-4）循环/s_catcher_drop_3_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{155,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>羊遇药水1-2-（3-3-4）循环/s_catcher_drop_3_3</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>羊遇药水1-2-（3-3-4）循环/s_catcher_drop_3_4</key>
            <dict>
                <key>frame</key>
                <string>{{563,111},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>遇火1-2-1-2-3-（4-5）循环/s_catcher_drop_4_1</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{114,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>遇火1-2-1-2-3-（4-5）循环/s_catcher_drop_4_2</key>
            <dict>
                <key>frame</key>
                <string>{{486,335},{114,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>遇火1-2-1-2-3-（4-5）循环/s_catcher_drop_4_3</key>
            <dict>
                <key>frame</key>
                <string>{{362,455},{114,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>遇火1-2-1-2-3-（4-5）循环/s_catcher_drop_4_4</key>
            <dict>
                <key>frame</key>
                <string>{{585,335},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>遇火1-2-1-2-3-（4-5）循环/s_catcher_drop_4_5</key>
            <dict>
                <key>frame</key>
                <string>{{574,451},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>闪电12121345/s_catcher_drop_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{135,320},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>闪电12121345/s_catcher_drop_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>闪电12121345/s_catcher_drop_1_3</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>闪电12121345/s_catcher_drop_1_4</key>
            <dict>
                <key>frame</key>
                <string>{{134,174},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>闪电12121345/s_catcher_drop_1_5</key>
            <dict>
                <key>frame</key>
                <string>{{356,143},{98,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{98,116}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{876,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:251813f79f5cb67251d56f006c561a6f$</string>
            <key>textureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
