<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_catcher_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{432,433},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{262,222},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{432,325},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{282,331},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{178,111},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{90,111},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{325,439},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{176,333},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{428,218},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{428,111},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{176,222},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_7</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_8</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{218,442},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{107,92}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,75},{107,92}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{90,333},{109,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,69},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{346,111},{107,80}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,97},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{111,444},{105,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,98},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{107,90}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,96},{107,90}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{109,84}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{264,111},{107,80}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,105},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{539,539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea607faa98bedebe30bf7ed7ba6628e3$</string>
            <key>textureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
