<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S1</key>
            <dict>
                <key>frame</key>
                <string>{{836,179},{195,175}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{195,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S10</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{203,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{203,163}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S11</key>
            <dict>
                <key>frame</key>
                <string>{{199,209},{105,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,6},{105,195}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S12</key>
            <dict>
                <key>frame</key>
                <string>{{394,382},{191,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{191,135}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S13</key>
            <dict>
                <key>frame</key>
                <string>{{637,167},{197,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{197,129}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S14</key>
            <dict>
                <key>frame</key>
                <string>{{591,298},{177,191}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{177,191}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S15</key>
            <dict>
                <key>frame</key>
                <string>{{587,477},{183,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{183,185}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S16</key>
            <dict>
                <key>frame</key>
                <string>{{784,356},{185,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{185,183}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S17</key>
            <dict>
                <key>frame</key>
                <string>{{388,519},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{183,183}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1A</key>
            <dict>
                <key>frame</key>
                <string>{{199,316},{193,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{193,171}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1B</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{195,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{195,171}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1C</key>
            <dict>
                <key>frame</key>
                <string>{{396,209},{193,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{193,171}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1F</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{197,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{197,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1G</key>
            <dict>
                <key>frame</key>
                <string>{{191,666},{169,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{169,183}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S1P_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,77},{426,205}}</string>
                <key>sourceSize</key>
                <string>{438,359}</string>
            </dict>
            <key>S2</key>
            <dict>
                <key>frame</key>
                <string>{{356,837},{181,161}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{181,161}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S3</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{155,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{155,181}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S4</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{193,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{193,165}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S5</key>
            <dict>
                <key>frame</key>
                <string>{{873,718},{169,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{169,171}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S6</key>
            <dict>
                <key>frame</key>
                <string>{{185,837},{169,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{169,181}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S7</key>
            <dict>
                <key>frame</key>
                <string>{{197,489},{175,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{175,189}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S8</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{181,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{181,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S8A</key>
            <dict>
                <key>frame</key>
                <string>{{696,839},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{179,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S8B</key>
            <dict>
                <key>frame</key>
                <string>{{519,839},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{179,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S8C</key>
            <dict>
                <key>frame</key>
                <string>{{573,662},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{179,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S8D</key>
            <dict>
                <key>frame</key>
                <string>{{774,541},{179,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{179,175}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>S9</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{187,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{187,163}}</string>
                <key>sourceSize</key>
                <string>{203,205}</string>
            </dict>
            <key>plqs</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_qs_pl-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1048,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcba1034675f40f3c66fc3f6dce0a042$</string>
            <key>textureFileName</key>
            <string>s_qs_pl-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
