<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_role_face_f</key>
            <dict>
                <key>frame</key>
                <string>{{806,862},{182,152}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{182,152}}</string>
                <key>sourceSize</key>
                <string>{218,180}</string>
            </dict>
            <key>s_role_face_t</key>
            <dict>
                <key>frame</key>
                <string>{{1627,646},{216,170}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{216,170}}</string>
                <key>sourceSize</key>
                <string>{218,180}</string>
            </dict>
            <key>s_role_fall_1</key>
            <dict>
                <key>frame</key>
                <string>{{1040,414},{249,300}}</string>
                <key>offset</key>
                <string>{-63,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,172},{249,300}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_2</key>
            <dict>
                <key>frame</key>
                <string>{{811,1016},{277,366}}</string>
                <key>offset</key>
                <string>{-50,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,106},{277,366}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_3</key>
            <dict>
                <key>frame</key>
                <string>{{398,1017},{411,472}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,472}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_4</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{519,430}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{519,430}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{525,394}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{525,394}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_6</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1272},{245,292}}</string>
                <key>offset</key>
                <string>{48,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,180},{245,292}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_7</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1519},{245,264}}</string>
                <key>offset</key>
                <string>{48,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,208},{245,264}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_8</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1519},{245,264}}</string>
                <key>offset</key>
                <string>{48,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,208},{245,264}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{266,410}}</string>
                <key>offset</key>
                <string>{3,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,328},{266,410}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{356,538}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{356,538}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,612}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{356,612}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{222,436}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,50},{222,436}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{582,523},{222,468}}</string>
                <key>offset</key>
                <string>{3,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,18},{222,468}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{360,523},{220,492}}</string>
                <key>offset</key>
                <string>{4,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{220,492}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{806,440},{232,420}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,103},{232,420}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1384},{222,354}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,219},{222,354}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{1411,992},{278,300}}</string>
                <key>offset</key>
                <string>{3,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,438},{278,300}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{1040,716},{296,306}}</string>
                <key>offset</key>
                <string>{3,-216}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,432},{296,306}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{398,1491},{320,308}}</string>
                <key>offset</key>
                <string>{3,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,430},{320,308}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{720,1491},{350,306}}</string>
                <key>offset</key>
                <string>{3,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,432},{350,306}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_scare_1</key>
            <dict>
                <key>frame</key>
                <string>{{1348,646},{277,344}}</string>
                <key>offset</key>
                <string>{35,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,14},{277,344}}</string>
                <key>sourceSize</key>
                <string>{347,358}</string>
            </dict>
            <key>s_role_scare_2</key>
            <dict>
                <key>frame</key>
                <string>{{1296,351},{293,350}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,8},{293,350}}</string>
                <key>sourceSize</key>
                <string>{347,358}</string>
            </dict>
            <key>s_role_scare_3</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1014},{319,344}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{319,344}}</string>
                <key>sourceSize</key>
                <string>{347,358}</string>
            </dict>
            <key>s_role_scare_4</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{347,350}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{347,350}}</string>
                <key>sourceSize</key>
                <string>{347,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_role_ani-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1801,1801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3db72e1f206241888c350104c00bfb2$</string>
            <key>textureFileName</key>
            <string>s_role_ani-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
