<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z6SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1984,412}}</string>
                <key>offset</key>
                <string>{-2,-301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,863},{1984,412}}</string>
                <key>sourceSize</key>
                <string>{1988,1536}</string>
            </dict>
            <key>Z6SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{1726,356}}</string>
                <key>offset</key>
                <string>{0,-329}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,919},{1726,356}}</string>
                <key>sourceSize</key>
                <string>{1726,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_3-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1988,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32488f0c3068b3f19f7f34af5e1fce7$</string>
            <key>textureFileName</key>
            <string>sheep_scene_3-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
