<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z4SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,690}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,527},{2048,690}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z4SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{2048,618}}</string>
                <key>offset</key>
                <string>{0,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,605},{2048,618}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z4SceneBg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,1308},{2048,562}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,635},{2048,562}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0abfa14a0a20fcd068d9cdd582dbcb$</string>
            <key>textureFileName</key>
            <string>sheep_scene_1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
