<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z6SceneItem0_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{992,206}}</string>
                <key>offset</key>
                <string>{-1,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,432},{992,206}}</string>
                <key>sourceSize</key>
                <string>{994,768}</string>
            </dict>
            <key>Z6SceneItem0_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{863,178}}</string>
                <key>offset</key>
                <string>{0,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,460},{863,178}}</string>
                <key>sourceSize</key>
                <string>{863,768}</string>
            </dict>
            <key>Z7SceneItem0_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{239,125}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{239,125}}</string>
                <key>sourceSize</key>
                <string>{277,131}</string>
            </dict>
            <key>Z7SceneItem0_1</key>
            <dict>
                <key>frame</key>
                <string>{{239,384},{271,69}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{271,69}}</string>
                <key>sourceSize</key>
                <string>{277,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_3-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{992,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c0359bea3bfd22c36efc3e64a2e478a$</string>
            <key>textureFileName</key>
            <string>sheep_scene_3-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
