<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z5SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{2048,628}}</string>
                <key>offset</key>
                <string>{0,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,647},{2048,628}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z5SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,658}}</string>
                <key>offset</key>
                <string>{0,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,617},{2048,658}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z5SceneBg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,1286},{2047,588}}</string>
                <key>offset</key>
                <string>{0,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,687},{2047,588}}</string>
                <key>sourceSize</key>
                <string>{2047,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fee58eb48f01b3ef42aca52363a0f67$</string>
            <key>textureFileName</key>
            <string>sheep_scene_2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
