<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z6SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{992,206}}</string>
                <key>offset</key>
                <string>{-1,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,432},{992,206}}</string>
                <key>sourceSize</key>
                <string>{994,768}</string>
            </dict>
            <key>Z6SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{863,178}}</string>
                <key>offset</key>
                <string>{0,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,460},{863,178}}</string>
                <key>sourceSize</key>
                <string>{863,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_3-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1855,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8864d505750680899662134f858f4cd$</string>
            <key>textureFileName</key>
            <string>sheep_scene_3-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
