<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z1SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{555,115},{273,115}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{273,115}}</string>
                <key>sourceSize</key>
                <string>{309,133}</string>
            </dict>
            <key>Z1SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{555,339},{221,93}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,21},{221,93}}</string>
                <key>sourceSize</key>
                <string>{309,133}</string>
            </dict>
            <key>Z1SceneItem_2</key>
            <dict>
                <key>frame</key>
                <string>{{555,0},{275,115}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{275,115}}</string>
                <key>sourceSize</key>
                <string>{309,133}</string>
            </dict>
            <key>Z1SceneItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{555,230},{221,109}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{221,109}}</string>
                <key>sourceSize</key>
                <string>{309,133}</string>
            </dict>
            <key>Z2SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{491,432},{419,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,238}}</string>
                <key>sourceSize</key>
                <string>{419,238}</string>
            </dict>
            <key>Z2SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{363,212}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{363,212}}</string>
                <key>sourceSize</key>
                <string>{419,238}</string>
            </dict>
            <key>Z3SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{555,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,394}}</string>
                <key>sourceSize</key>
                <string>{555,394}</string>
            </dict>
            <key>Z3SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{491,282}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{491,282}}</string>
                <key>sourceSize</key>
                <string>{555,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_0-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{910,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:474a2b301ea0fb676a09d4b21ee0306a$</string>
            <key>textureFileName</key>
            <string>sheep_scene_0-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
