<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z1SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{137,57}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{137,57}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>Z1SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{278,169},{103,47}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,11},{103,47}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>Z1SceneItem_2</key>
            <dict>
                <key>frame</key>
                <string>{{278,57},{123,59}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{123,59}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>Z1SceneItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{278,116},{111,53}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{111,53}}</string>
                <key>sourceSize</key>
                <string>{155,67}</string>
            </dict>
            <key>Z2SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{210,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,119}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>Z2SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{246,216},{182,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{182,105}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>Z3SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,175}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{278,175}}</string>
                <key>sourceSize</key>
                <string>{278,197}</string>
            </dict>
            <key>Z3SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{246,143}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{246,143}}</string>
                <key>sourceSize</key>
                <string>{278,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_0-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{437,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3dea3601674d38c581d83e46652d83e$</string>
            <key>textureFileName</key>
            <string>sheep_scene_0-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
