<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1437},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>back2</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1437},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>comesoon</key>
            <dict>
                <key>frame</key>
                <string>{{1740,374},{192,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,198}}</string>
                <key>sourceSize</key>
                <string>{192,198}</string>
            </dict>
            <key>fgframe</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>game_home1</key>
            <dict>
                <key>frame</key>
                <string>{{1028,951},{309,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,292}}</string>
                <key>sourceSize</key>
                <string>{309,292}</string>
            </dict>
            <key>game_home2</key>
            <dict>
                <key>frame</key>
                <string>{{1028,651},{313,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,298}}</string>
                <key>sourceSize</key>
                <string>{313,298}</string>
            </dict>
            <key>game_kou1</key>
            <dict>
                <key>frame</key>
                <string>{{1343,651},{364,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,206}}</string>
                <key>sourceSize</key>
                <string>{364,206}</string>
            </dict>
            <key>game_kou2</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1245},{323,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,211}}</string>
                <key>sourceSize</key>
                <string>{323,211}</string>
            </dict>
            <key>game_ma1</key>
            <dict>
                <key>frame</key>
                <string>{{1740,574},{206,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,143}}</string>
                <key>sourceSize</key>
                <string>{206,143}</string>
            </dict>
            <key>game_ma2</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1100},{216,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,153}}</string>
                <key>sourceSize</key>
                <string>{216,153}</string>
            </dict>
            <key>game_men1</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1195},{294,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,196}}</string>
                <key>sourceSize</key>
                <string>{294,196}</string>
            </dict>
            <key>game_men2</key>
            <dict>
                <key>frame</key>
                <string>{{1339,989},{302,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,204}}</string>
                <key>sourceSize</key>
                <string>{302,204}</string>
            </dict>
            <key>game_niu1</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{225,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,144}}</string>
                <key>sourceSize</key>
                <string>{225,144}</string>
            </dict>
            <key>game_niu2</key>
            <dict>
                <key>frame</key>
                <string>{{1709,719},{235,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,153}}</string>
                <key>sourceSize</key>
                <string>{235,153}</string>
            </dict>
            <key>game_sheep1</key>
            <dict>
                <key>frame</key>
                <string>{{1651,874},{248,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,111}}</string>
                <key>sourceSize</key>
                <string>{248,111}</string>
            </dict>
            <key>game_sheep2</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1393},{257,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,118}}</string>
                <key>sourceSize</key>
                <string>{257,118}</string>
            </dict>
            <key>lock1</key>
            <dict>
                <key>frame</key>
                <string>{{1901,874},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>lock2</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1458},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>map_road_kou</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1100},{72,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,258}}</string>
                <key>sourceSize</key>
                <string>{72,258}</string>
            </dict>
            <key>map_road_ma</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1458},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>map_road_men</key>
            <dict>
                <key>frame</key>
                <string>{{1651,987},{243,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,111}}</string>
                <key>sourceSize</key>
                <string>{243,111}</string>
            </dict>
            <key>map_road_niu</key>
            <dict>
                <key>frame</key>
                <string>{{1343,859},{306,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,128}}</string>
                <key>sourceSize</key>
                <string>{306,128}</string>
            </dict>
            <key>map_road_sheep</key>
            <dict>
                <key>frame</key>
                <string>{{1740,148},{218,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,224}}</string>
                <key>sourceSize</key>
                <string>{218,224}</string>
            </dict>
            <key>map_road_star</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{710,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,647}}</string>
                <key>sourceSize</key>
                <string>{710,647}</string>
            </dict>
            <key>score_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1255},{148,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>score_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1349},{138,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,86}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>score_kou</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1509},{24,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>score_ma</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1393},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>score_men</key>
            <dict>
                <key>frame</key>
                <string>{{1934,374},{24,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>score_niu</key>
            <dict>
                <key>frame</key>
                <string>{{1799,1255},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>score_sheep</key>
            <dict>
                <key>frame</key>
                <string>{{1709,651},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>score_star1</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1458},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>score_star2</key>
            <dict>
                <key>frame</key>
                <string>{{1901,921},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1967,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a86a5fda3552778985f9440b504e3af0$</string>
            <key>textureFileName</key>
            <string>map-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
