<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1</key>
            <dict>
                <key>frame</key>
                <string>{{3384,2755},{201,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,185}}</string>
                <key>sourceSize</key>
                <string>{201,185}</string>
            </dict>
            <key>back2</key>
            <dict>
                <key>frame</key>
                <string>{{3172,2770},{210,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,192}</string>
            </dict>
            <key>bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>comesoon</key>
            <dict>
                <key>frame</key>
                <string>{{3473,452},{383,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,395}}</string>
                <key>sourceSize</key>
                <string>{383,395}</string>
            </dict>
            <key>fgframe</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>game_home1</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1895},{618,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,584}}</string>
                <key>sourceSize</key>
                <string>{618,584}</string>
            </dict>
            <key>game_home2</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1297},{626,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,596}}</string>
                <key>sourceSize</key>
                <string>{626,596}</string>
            </dict>
            <key>game_kou1</key>
            <dict>
                <key>frame</key>
                <string>{{2680,1297},{728,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,411}}</string>
                <key>sourceSize</key>
                <string>{728,411}</string>
            </dict>
            <key>game_kou2</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2481},{646,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,421}}</string>
                <key>sourceSize</key>
                <string>{646,421}</string>
            </dict>
            <key>game_ma1</key>
            <dict>
                <key>frame</key>
                <string>{{3473,1156},{411,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,285}}</string>
                <key>sourceSize</key>
                <string>{411,285}</string>
            </dict>
            <key>game_ma2</key>
            <dict>
                <key>frame</key>
                <string>{{3473,849},{431,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,305}}</string>
                <key>sourceSize</key>
                <string>{431,305}</string>
            </dict>
            <key>game_men1</key>
            <dict>
                <key>frame</key>
                <string>{{2700,2377},{587,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,391}}</string>
                <key>sourceSize</key>
                <string>{587,391}</string>
            </dict>
            <key>game_men2</key>
            <dict>
                <key>frame</key>
                <string>{{2672,1968},{604,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,407}}</string>
                <key>sourceSize</key>
                <string>{604,407}</string>
            </dict>
            <key>game_niu1</key>
            <dict>
                <key>frame</key>
                <string>{{3410,1443},{450,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,287}}</string>
                <key>sourceSize</key>
                <string>{450,287}</string>
            </dict>
            <key>game_niu2</key>
            <dict>
                <key>frame</key>
                <string>{{2700,2770},{470,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,306}}</string>
                <key>sourceSize</key>
                <string>{470,306}</string>
            </dict>
            <key>game_sheep1</key>
            <dict>
                <key>frame</key>
                <string>{{3278,1969},{496,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,221}}</string>
                <key>sourceSize</key>
                <string>{496,221}</string>
            </dict>
            <key>game_sheep2</key>
            <dict>
                <key>frame</key>
                <string>{{3293,1732},{513,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,235}}</string>
                <key>sourceSize</key>
                <string>{513,235}</string>
            </dict>
            <key>lock1</key>
            <dict>
                <key>frame</key>
                <string>{{3681,2192},{77,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,90}}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>lock2</key>
            <dict>
                <key>frame</key>
                <string>{{2331,2904},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,98}}</string>
                <key>sourceSize</key>
                <string>{77,98}</string>
            </dict>
            <key>map_road_kou</key>
            <dict>
                <key>frame</key>
                <string>{{3776,1969},{144,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,515}}</string>
                <key>sourceSize</key>
                <string>{144,515}</string>
            </dict>
            <key>map_road_ma</key>
            <dict>
                <key>frame</key>
                <string>{{3278,2192},{401,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,152}}</string>
                <key>sourceSize</key>
                <string>{401,152}</string>
            </dict>
            <key>map_road_men</key>
            <dict>
                <key>frame</key>
                <string>{{3289,2532},{486,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,221}}</string>
                <key>sourceSize</key>
                <string>{486,221}</string>
            </dict>
            <key>map_road_niu</key>
            <dict>
                <key>frame</key>
                <string>{{2680,1710},{611,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,256}}</string>
                <key>sourceSize</key>
                <string>{611,256}</string>
            </dict>
            <key>map_road_sheep</key>
            <dict>
                <key>frame</key>
                <string>{{3473,2},{436,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,448}}</string>
                <key>sourceSize</key>
                <string>{436,448}</string>
            </dict>
            <key>map_road_star</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{1419,1293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1419,1293}}</string>
                <key>sourceSize</key>
                <string>{1419,1293}</string>
            </dict>
            <key>score_frame1</key>
            <dict>
                <key>frame</key>
                <string>{{3289,2346},{295,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,184}}</string>
                <key>sourceSize</key>
                <string>{295,184}</string>
            </dict>
            <key>score_frame2</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2904},{277,172}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{277,172}}</string>
                <key>sourceSize</key>
                <string>{295,184}</string>
            </dict>
            <key>score_kou</key>
            <dict>
                <key>frame</key>
                <string>{{2331,3004},{46,47}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{46,47}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>score_ma</key>
            <dict>
                <key>frame</key>
                <string>{{3410,1297},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>score_men</key>
            <dict>
                <key>frame</key>
                <string>{{3858,452},{46,49}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{46,49}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>score_niu</key>
            <dict>
                <key>frame</key>
                <string>{{3587,2755},{54,51}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,51}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>score_sheep</key>
            <dict>
                <key>frame</key>
                <string>{{3586,2346},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>score_star1</key>
            <dict>
                <key>frame</key>
                <string>{{3172,2964},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>score_star2</key>
            <dict>
                <key>frame</key>
                <string>{{3808,1732},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3922,3078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c209657c2e25d4c4d8941e5d03750c83$</string>
            <key>textureFileName</key>
            <string>map-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
