<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pauseLogo</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{442,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,388}}</string>
                <key>sourceSize</key>
                <string>{442,388}</string>
            </dict>
            <key>pausemask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zBagain</key>
            <dict>
                <key>frame</key>
                <string>{{1365,552},{146,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,110}}</string>
                <key>sourceSize</key>
                <string>{146,110}</string>
            </dict>
            <key>zBditu</key>
            <dict>
                <key>frame</key>
                <string>{{1219,552},{144,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,114}}</string>
                <key>sourceSize</key>
                <string>{144,114}</string>
            </dict>
            <key>zBjixu</key>
            <dict>
                <key>frame</key>
                <string>{{1396,392},{135,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,114}}</string>
                <key>sourceSize</key>
                <string>{135,114}</string>
            </dict>
            <key>zagain</key>
            <dict>
                <key>frame</key>
                <string>{{1028,553},{189,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,154}}</string>
                <key>sourceSize</key>
                <string>{189,154}</string>
            </dict>
            <key>zditu</key>
            <dict>
                <key>frame</key>
                <string>{{1028,392},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>zjixu</key>
            <dict>
                <key>frame</key>
                <string>{{1216,392},{178,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,158}}</string>
                <key>sourceSize</key>
                <string>{178,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1533,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4ffa4f7a5f30b55c2d63801796ae74$</string>
            <key>textureFileName</key>
            <string>pause-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
