<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pauseLogo</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{883,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{883,776}}</string>
                <key>sourceSize</key>
                <string>{883,776}</string>
            </dict>
            <key>pausemask</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>zBagain</key>
            <dict>
                <key>frame</key>
                <string>{{2426,1089},{291,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,219}}</string>
                <key>sourceSize</key>
                <string>{291,219}</string>
            </dict>
            <key>zBditu</key>
            <dict>
                <key>frame</key>
                <string>{{2410,1310},{287,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,228}}</string>
                <key>sourceSize</key>
                <string>{287,228}</string>
            </dict>
            <key>zBjixu</key>
            <dict>
                <key>frame</key>
                <string>{{2699,1310},{269,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,228}}</string>
                <key>sourceSize</key>
                <string>{269,228}</string>
            </dict>
            <key>zagain</key>
            <dict>
                <key>frame</key>
                <string>{{2426,780},{377,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,307}}</string>
                <key>sourceSize</key>
                <string>{377,307}</string>
            </dict>
            <key>zditu</key>
            <dict>
                <key>frame</key>
                <string>{{2052,780},{372,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,317}}</string>
                <key>sourceSize</key>
                <string>{372,317}</string>
            </dict>
            <key>zjixu</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1099},{356,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,315}}</string>
                <key>sourceSize</key>
                <string>{356,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2970,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0855beb93548c06355efb6fa9cc516c7$</string>
            <key>textureFileName</key>
            <string>pause-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
