<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_qs_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,256}}</string>
                <key>sourceSize</key>
                <string>{1008,256}</string>
            </dict>
            <key>qsFrameToItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{130,260},{126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>qsFrameToItem_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>qsFrameToItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{122,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,108}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>speedItem_1_1</key>
            <dict>
                <key>frame</key>
                <string>{{812,260},{69,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{69,70}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_1_2</key>
            <dict>
                <key>frame</key>
                <string>{{676,260},{67,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{67,80}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_2_1</key>
            <dict>
                <key>frame</key>
                <string>{{611,260},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{63,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_2_2</key>
            <dict>
                <key>frame</key>
                <string>{{546,260},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{63,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{745,260},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{65,72}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_4_1</key>
            <dict>
                <key>frame</key>
                <string>{{466,260},{93,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{93,78}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>speedItem_4_2</key>
            <dict>
                <key>frame</key>
                <string>{{382,260},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,82}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qs_frame_2-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1012,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6a6533babbb09d20b5073074b3d3694$</string>
            <key>textureFileName</key>
            <string>qs_frame_2-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
