<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_ans_1</key>
            <dict>
                <key>frame</key>
                <string>{{1353,515},{438,925}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,925}}</string>
                <key>sourceSize</key>
                <string>{438,925}</string>
            </dict>
            <key>frame_ans_2</key>
            <dict>
                <key>frame</key>
                <string>{{473,1443},{568,922}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,922}}</string>
                <key>sourceSize</key>
                <string>{568,922}</string>
            </dict>
            <key>frame_ans_3</key>
            <dict>
                <key>frame</key>
                <string>{{1793,515},{855,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855,411}}</string>
                <key>sourceSize</key>
                <string>{855,411}</string>
            </dict>
            <key>frame_qs_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{1364,469}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1364,469}}</string>
                <key>sourceSize</key>
                <string>{1366,477}</string>
            </dict>
            <key>frame_qs_2</key>
            <dict>
                <key>frame</key>
                <string>{{473,515},{926,878}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,878}}</string>
                <key>sourceSize</key>
                <string>{926,878}</string>
            </dict>
            <key>frame_qs_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2016,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2016,511}}</string>
                <key>sourceSize</key>
                <string>{2016,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qs_frame-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2206,2206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58381620ea81bbb87250666f9e557229$</string>
            <key>textureFileName</key>
            <string>qs_frame-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
