<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_catcher_drop0_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_2</key>
            <dict>
                <key>frame</key>
                <string>{{135,625},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_3</key>
            <dict>
                <key>frame</key>
                <string>{{553,134},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_4</key>
            <dict>
                <key>frame</key>
                <string>{{135,479},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop0_5</key>
            <dict>
                <key>frame</key>
                <string>{{168,903},{98,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{98,116}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>s_catcher_drop1_1</key>
            <dict>
                <key>frame</key>
                <string>{{271,479},{131,142}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{131,148}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{131,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,170}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop1_4</key>
            <dict>
                <key>frame</key>
                <string>{{553,280},{131,130}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,180}</string>
            </dict>
            <key>s_catcher_drop2_1</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{151,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{151,116}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_2</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{155,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_3</key>
            <dict>
                <key>frame</key>
                <string>{{710,120},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop2_4</key>
            <dict>
                <key>frame</key>
                <string>{{412,795},{123,90}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{123,90}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>s_catcher_drop3_1</key>
            <dict>
                <key>frame</key>
                <string>{{689,212},{114,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_2</key>
            <dict>
                <key>frame</key>
                <string>{{686,313},{114,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_3</key>
            <dict>
                <key>frame</key>
                <string>{{268,903},{114,103}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_4</key>
            <dict>
                <key>frame</key>
                <string>{{911,330},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_drop3_5</key>
            <dict>
                <key>frame</key>
                <string>{{694,412},{108,97}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,97}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>s_catcher_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{814,887},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{911,429},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{384,903},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{804,412},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{876,711},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{543,760},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{876,623},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{765,608},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{707,864},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{805,212},{107,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{107,104}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{914,222},{105,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{914,114},{105,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{765,696},{109,84}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_6</key>
            <dict>
                <key>frame</key>
                <string>{{654,597},{109,86}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_7</key>
            <dict>
                <key>frame</key>
                <string>{{543,672},{109,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_jump_back_8</key>
            <dict>
                <key>frame</key>
                <string>{{543,584},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{600,853},{105,88}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,91},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{802,318},{107,92}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,75},{107,92}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{654,685},{109,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{906,535},{109,86}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_5</key>
            <dict>
                <key>frame</key>
                <string>{{763,782},{107,80}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,97},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{872,797},{105,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,98},{105,88}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{491,887},{107,90}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,96},{107,90}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{684,511},{109,84}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{795,520},{109,86}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_run_back_5</key>
            <dict>
                <key>frame</key>
                <string>{{654,771},{107,80}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,105},{107,80}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
            <key>s_catcher_speedUp0_1</key>
            <dict>
                <key>frame</key>
                <string>{{135,771},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_2</key>
            <dict>
                <key>frame</key>
                <string>{{406,591},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_3</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{412,699},{129,94}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{129,94}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{271,623},{133,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{133,106}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp0_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{404,479},{137,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,110}}</string>
                <key>sourceSize</key>
                <string>{137,112}</string>
            </dict>
            <key>s_catcher_speedUp1_1</key>
            <dict>
                <key>frame</key>
                <string>{{85,947},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_2</key>
            <dict>
                <key>frame</key>
                <string>{{600,943},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_3</key>
            <dict>
                <key>frame</key>
                <string>{{266,817},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_4</key>
            <dict>
                <key>frame</key>
                <string>{{271,731},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{81,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_2</key>
            <dict>
                <key>frame</key>
                <string>{{921,887},{71,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{71,64}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_3</key>
            <dict>
                <key>frame</key>
                <string>{{543,498},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp1_back_4</key>
            <dict>
                <key>frame</key>
                <string>{{553,412},{139,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>s_catcher_speedUp_buffer</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,475}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{549,475}}</string>
                <key>sourceSize</key>
                <string>{555,479}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7488c2171a018c3936027a083dcb67b$</string>
            <key>textureFileName</key>
            <string>s_catcher_ani-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
