<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C1</key>
            <dict>
                <key>frame</key>
                <string>{{107,422},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C12</key>
            <dict>
                <key>frame</key>
                <string>{{495,487},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C13</key>
            <dict>
                <key>frame</key>
                <string>{{493,382},{103,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{103,81}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C1G</key>
            <dict>
                <key>frame</key>
                <string>{{507,192},{85,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C5</key>
            <dict>
                <key>frame</key>
                <string>{{402,400},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C6</key>
            <dict>
                <key>frame</key>
                <string>{{493,295},{85,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>C8</key>
            <dict>
                <key>frame</key>
                <string>{{206,105},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H1</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H1D</key>
            <dict>
                <key>frame</key>
                <string>{{495,564},{103,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{103,69}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H5</key>
            <dict>
                <key>frame</key>
                <string>{{309,202},{91,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H6</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{103,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,83}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H8</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>H9</key>
            <dict>
                <key>frame</key>
                <string>{{105,527},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S10</key>
            <dict>
                <key>frame</key>
                <string>{{519,95},{103,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,83}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S11</key>
            <dict>
                <key>frame</key>
                <string>{{576,382},{57,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{57,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S14</key>
            <dict>
                <key>frame</key>
                <string>{{107,212},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S15</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S16</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S17</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1A</key>
            <dict>
                <key>frame</key>
                <string>{{414,99},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1B</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1C</key>
            <dict>
                <key>frame</key>
                <string>{{311,517},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1F</key>
            <dict>
                <key>frame</key>
                <string>{{309,412},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S1G</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S2</key>
            <dict>
                <key>frame</key>
                <string>{{309,307},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S3</key>
            <dict>
                <key>frame</key>
                <string>{{402,295},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S4</key>
            <dict>
                <key>frame</key>
                <string>{{404,505},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{103,89}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S5</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{101,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S6</key>
            <dict>
                <key>frame</key>
                <string>{{309,105},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S7</key>
            <dict>
                <key>frame</key>
                <string>{{107,107},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S8</key>
            <dict>
                <key>frame</key>
                <string>{{208,525},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S8A</key>
            <dict>
                <key>frame</key>
                <string>{{206,420},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S8B</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S8C</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S8D</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>S9</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{97,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>plqs</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_qs_ff-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{635,635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81dd50e2ec52547b47f9700f0f74327d$</string>
            <key>textureFileName</key>
            <string>s_qs_ff-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
