<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C1</key>
            <dict>
                <key>frame</key>
                <string>{{1037,205},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C12</key>
            <dict>
                <key>frame</key>
                <string>{{412,589},{205,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{205,149}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C13</key>
            <dict>
                <key>frame</key>
                <string>{{412,740},{205,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{205,163}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C1G</key>
            <dict>
                <key>frame</key>
                <string>{{597,905},{167,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{167,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C5</key>
            <dict>
                <key>frame</key>
                <string>{{623,587},{177,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{177,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C6</key>
            <dict>
                <key>frame</key>
                <string>{{595,1074},{165,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{165,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>C8</key>
            <dict>
                <key>frame</key>
                <string>{{209,412},{201,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{201,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H1</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H1D</key>
            <dict>
                <key>frame</key>
                <string>{{619,766},{205,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{205,137}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H5</key>
            <dict>
                <key>frame</key>
                <string>{{205,804},{183,203}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{183,203}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H6</key>
            <dict>
                <key>frame</key>
                <string>{{388,1074},{205,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{205,165}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H8</key>
            <dict>
                <key>frame</key>
                <string>{{416,209},{205,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{205,195}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>H9</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{201,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{201,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1</key>
            <dict>
                <key>frame</key>
                <string>{{826,776},{205,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S10</key>
            <dict>
                <key>frame</key>
                <string>{{390,905},{205,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{205,167}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S11</key>
            <dict>
                <key>frame</key>
                <string>{{804,959},{113,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{113,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S14</key>
            <dict>
                <key>frame</key>
                <string>{{1037,591},{191,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{191,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S15</key>
            <dict>
                <key>frame</key>
                <string>{{209,207},{205,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,203}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S16</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{205,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,203}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S17</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{205,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,203}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1A</key>
            <dict>
                <key>frame</key>
                <string>{{830,593},{205,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1B</key>
            <dict>
                <key>frame</key>
                <string>{{205,1009},{205,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1C</key>
            <dict>
                <key>frame</key>
                <string>{{205,621},{205,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1F</key>
            <dict>
                <key>frame</key>
                <string>{{416,406},{205,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S1G</key>
            <dict>
                <key>frame</key>
                <string>{{830,400},{191,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{191,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S2</key>
            <dict>
                <key>frame</key>
                <string>{{623,402},{205,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{205,183}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S3</key>
            <dict>
                <key>frame</key>
                <string>{{1033,784},{179,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{179,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S4</key>
            <dict>
                <key>frame</key>
                <string>{{1011,965},{205,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{205,175}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S5</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{201,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S6</key>
            <dict>
                <key>frame</key>
                <string>{{1037,398},{191,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{191,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S7</key>
            <dict>
                <key>frame</key>
                <string>{{623,205},{195,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S8</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{205,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,201}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S8A</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{205,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,201}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S8B</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{205,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,201}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S8C</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{205,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,201}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S8D</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{205,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,201}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S9</key>
            <dict>
                <key>frame</key>
                <string>{{830,205},{193,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{193,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>plqs</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,205}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_qs_ff-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1244,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27be465d9aacaf5d7ac8ad7d70767488$</string>
            <key>textureFileName</key>
            <string>s_qs_ff-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
