<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_role_face_f</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{182,152}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{182,152}}</string>
                <key>sourceSize</key>
                <string>{218,180}</string>
            </dict>
            <key>s_role_face_t</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1067},{216,170}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{216,170}}</string>
                <key>sourceSize</key>
                <string>{218,180}</string>
            </dict>
            <key>s_role_fall_1</key>
            <dict>
                <key>frame</key>
                <string>{{782,872},{249,300}}</string>
                <key>offset</key>
                <string>{-63,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,172},{249,300}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_2</key>
            <dict>
                <key>frame</key>
                <string>{{1408,270},{277,366}}</string>
                <key>offset</key>
                <string>{-50,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,106},{277,366}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_3</key>
            <dict>
                <key>frame</key>
                <string>{{360,434},{411,472}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,472}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_4</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{519,430}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{519,430}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_5</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{525,394}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{525,394}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_6</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1067},{245,292}}</string>
                <key>offset</key>
                <string>{48,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,180},{245,292}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_7</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1361},{245,264}}</string>
                <key>offset</key>
                <string>{48,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,208},{245,264}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_fall_8</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1392},{245,264}}</string>
                <key>offset</key>
                <string>{48,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,208},{245,264}}</string>
                <key>sourceSize</key>
                <string>{525,472}</string>
            </dict>
            <key>s_role_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{266,410}}</string>
                <key>offset</key>
                <string>{3,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,328},{266,410}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{356,538}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{356,538}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,612}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{356,612}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{773,434},{222,436}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,50},{222,436}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{224,1156},{222,468}}</string>
                <key>offset</key>
                <string>{3,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,18},{222,468}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{220,492}}</string>
                <key>offset</key>
                <string>{4,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{220,492}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{360,908},{232,420}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,103},{232,420}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{1317,549},{222,354}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,219},{222,354}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1090},{278,300}}</string>
                <key>offset</key>
                <string>{3,-219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,438},{278,300}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{768,1174},{296,306}}</string>
                <key>offset</key>
                <string>{3,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,432},{296,306}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{448,1488},{320,308}}</string>
                <key>offset</key>
                <string>{3,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,430},{320,308}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{770,1482},{350,306}}</string>
                <key>offset</key>
                <string>{3,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,432},{350,306}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_scare_1</key>
            <dict>
                <key>frame</key>
                <string>{{1033,744},{278,344}}</string>
                <key>offset</key>
                <string>{3,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,386},{278,344}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_scare_2</key>
            <dict>
                <key>frame</key>
                <string>{{1313,773},{292,350}}</string>
                <key>offset</key>
                <string>{-6,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,376},{292,350}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_scare_3</key>
            <dict>
                <key>frame</key>
                <string>{{997,398},{318,344}}</string>
                <key>offset</key>
                <string>{-17,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,385},{318,344}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
            <key>s_role_scare_4</key>
            <dict>
                <key>frame</key>
                <string>{{448,1142},{318,344}}</string>
                <key>offset</key>
                <string>{-17,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,385},{318,344}}</string>
                <key>sourceSize</key>
                <string>{356,738}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_role_ani-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1820,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e712ffe5e0b98b5c8d99323e463327$</string>
            <key>textureFileName</key>
            <string>s_role_ani-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
