<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_role_face_f</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{91,76}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{91,76}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>s_role_face_t</key>
            <dict>
                <key>frame</key>
                <string>{{829,143},{107,84}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{107,84}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>s_role_fall_1</key>
            <dict>
                <key>frame</key>
                <string>{{661,609},{125,150}}</string>
                <key>offset</key>
                <string>{-32,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,86},{125,150}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_2</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{139,184}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{139,184}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_3</key>
            <dict>
                <key>frame</key>
                <string>{{202,512},{207,236}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,236}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_4</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{259,216}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{259,216}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{263,198}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{263,198}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_6</key>
            <dict>
                <key>frame</key>
                <string>{{708,412},{123,146}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{123,146}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_7</key>
            <dict>
                <key>frame</key>
                <string>{{536,614},{123,132}}</string>
                <key>offset</key>
                <string>{24,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,104},{123,132}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_fall_8</key>
            <dict>
                <key>frame</key>
                <string>{{411,614},{123,132}}</string>
                <key>offset</key>
                <string>{24,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,104},{123,132}}</string>
                <key>sourceSize</key>
                <string>{263,236}</string>
            </dict>
            <key>s_role_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{134,205}}</string>
                <key>offset</key>
                <string>{1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,164},{134,205}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{178,269}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{178,269}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,307}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{178,307}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{112,219}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{112,219}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{294,263},{112,235}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{112,235}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{182,263},{110,247}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{110,247}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{408,223},{118,211}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{118,211}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{650,143},{112,177}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,110},{112,177}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_run_1</key>
            <dict>
                <key>frame</key>
                <string>{{709,736},{140,151}}</string>
                <key>offset</key>
                <string>{1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,218},{140,151}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_run_2</key>
            <dict>
                <key>frame</key>
                <string>{{676,257},{148,153}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,216},{148,153}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_run_3</key>
            <dict>
                <key>frame</key>
                <string>{{552,748},{160,155}}</string>
                <key>offset</key>
                <string>{1,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,214},{160,155}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_run_4</key>
            <dict>
                <key>frame</key>
                <string>{{411,436},{176,153}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,216},{176,153}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_scare_1</key>
            <dict>
                <key>frame</key>
                <string>{{566,434},{140,173}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,192},{140,173}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_scare_2</key>
            <dict>
                <key>frame</key>
                <string>{{528,257},{146,175}}</string>
                <key>offset</key>
                <string>{-3,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,188},{146,175}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_scare_3</key>
            <dict>
                <key>frame</key>
                <string>{{377,750},{160,173}}</string>
                <key>offset</key>
                <string>{-9,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,192},{160,173}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
            <key>s_role_scare_4</key>
            <dict>
                <key>frame</key>
                <string>{{202,750},{160,173}}</string>
                <key>offset</key>
                <string>{-9,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,192},{160,173}}</string>
                <key>sourceSize</key>
                <string>{178,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_role_ani-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{915,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1da2e0a730d6343b4c38a8c8ae9b63ab$</string>
            <key>textureFileName</key>
            <string>s_role_ani-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
