<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z7SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{2048,644}}</string>
                <key>offset</key>
                <string>{0,-446}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,892},{2048,644}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z7SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,644}}</string>
                <key>offset</key>
                <string>{0,-446}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,892},{2048,644}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z8SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{775,1292},{508,255}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{508,255}}</string>
                <key>sourceSize</key>
                <string>{554,261}</string>
            </dict>
            <key>Z8SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{775,1549},{540,135}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,117},{540,135}}</string>
                <key>sourceSize</key>
                <string>{554,261}</string>
            </dict>
            <key>Z9SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,1292},{773,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,504}}</string>
                <key>sourceSize</key>
                <string>{773,504}</string>
            </dict>
            <key>life</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1292},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>life_ani</key>
            <dict>
                <key>frame</key>
                <string>{{775,1686},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0719d287a2e920ce173c61574be09986$</string>
            <key>textureFileName</key>
            <string>sheep_scene_4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
