<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z4SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,346}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,263},{1024,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Z4SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{1024,310}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,302},{1024,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Z4SceneBg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{1024,282}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1024,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_1-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47178914e4481ddcc6b5ffcb04a1dd3c$</string>
            <key>textureFileName</key>
            <string>sheep_scene_1-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
