<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z0Bg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z0Bg_1</key>
            <dict>
                <key>frame</key>
                <string>{{2048,0},{2048,596}}</string>
                <key>offset</key>
                <string>{0,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,687},{2048,596}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_bg-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4096,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac261660985aa9ae69686f26f2c44eeb$</string>
            <key>textureFileName</key>
            <string>sheep_scene_bg-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
