<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z7SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{2048,431}}</string>
                <key>offset</key>
                <string>{0,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,216},{2048,431}}</string>
                <key>sourceSize</key>
                <string>{2048,647}</string>
            </dict>
            <key>Z7SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,431}}</string>
                <key>offset</key>
                <string>{0,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,216},{2048,431}}</string>
                <key>sourceSize</key>
                <string>{2048,647}</string>
            </dict>
            <key>Z8SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,1755},{508,255}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{508,255}}</string>
                <key>sourceSize</key>
                <string>{554,261}</string>
            </dict>
            <key>Z8SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{510,1855},{540,135}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,117},{540,135}}</string>
                <key>sourceSize</key>
                <string>{554,261}</string>
            </dict>
            <key>Z8SceneItem_2</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1034},{308,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,147}}</string>
                <key>sourceSize</key>
                <string>{308,147}</string>
            </dict>
            <key>Z8SceneItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{1716,866},{308,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,166}}</string>
                <key>sourceSize</key>
                <string>{308,166}</string>
            </dict>
            <key>Z8SceneItem_4</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1855},{308,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,146}}</string>
                <key>sourceSize</key>
                <string>{308,146}</string>
            </dict>
            <key>Z8SceneItem_5</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1299},{466,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,610}}</string>
                <key>sourceSize</key>
                <string>{466,610}</string>
            </dict>
            <key>Z9SceneItem_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,1249},{773,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,504}}</string>
                <key>sourceSize</key>
                <string>{773,504}</string>
            </dict>
            <key>Z9SceneItem_1</key>
            <dict>
                <key>frame</key>
                <string>{{775,1299},{586,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,554}}</string>
                <key>sourceSize</key>
                <string>{586,554}</string>
            </dict>
            <key>Z9SceneItem_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,866},{1081,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1081,381}}</string>
                <key>sourceSize</key>
                <string>{1081,381}</string>
            </dict>
            <key>Z9SceneItem_3</key>
            <dict>
                <key>frame</key>
                <string>{{1083,866},{631,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,431}}</string>
                <key>sourceSize</key>
                <string>{631,431}</string>
            </dict>
            <key>life</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1183},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>life_ani</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1183},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5643b17a96fdb7dac0bbc74c650e977d$</string>
            <key>textureFileName</key>
            <string>sheep_scene_4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
