<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Z5SceneBg_0</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,736}}</string>
                <key>offset</key>
                <string>{0,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,539},{2048,736}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z5SceneBg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,1356},{2048,482}}</string>
                <key>offset</key>
                <string>{0,-266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,793},{2048,482}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>Z5SceneBg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{2048,620}}</string>
                <key>offset</key>
                <string>{0,-229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,687},{2048,620}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep_scene_2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec262c04b338d9430acad25b542a823e$</string>
            <key>textureFileName</key>
            <string>sheep_scene_2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
