<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bfanhui</key>
            <dict>
                <key>frame</key>
                <string>{{1770,3636},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>Byinxiao</key>
            <dict>
                <key>frame</key>
                <string>{{1441,3690},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>Byinyue</key>
            <dict>
                <key>frame</key>
                <string>{{1441,3438},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>fanhui</key>
            <dict>
                <key>frame</key>
                <string>{{1112,3636},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>fanti</key>
            <dict>
                <key>frame</key>
                <string>{{1801,3384},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>houjing</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{2048,852}}</string>
                <key>offset</key>
                <string>{0,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,852}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>jianti</key>
            <dict>
                <key>frame</key>
                <string>{{1801,3132},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>qianjing</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1518}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{2048,1518}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>shengxiao</key>
            <dict>
                <key>frame</key>
                <string>{{1801,2880},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>yingwen</key>
            <dict>
                <key>frame</key>
                <string>{{1801,2628},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>yinxiao</key>
            <dict>
                <key>frame</key>
                <string>{{1801,2376},{327,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,250}}</string>
                <key>sourceSize</key>
                <string>{327,250}</string>
            </dict>
            <key>zhezhao</key>
            <dict>
                <key>frame</key>
                <string>{{2,2376},{1108,1534}}</string>
                <key>offset</key>
                <string>{-470,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1108,1534}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>zimu</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2376},{687,1060}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,1060}}</string>
                <key>sourceSize</key>
                <string>{687,1060}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setup-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2130,3942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6630d74d9ab2fe94d43428cb39f0c669$</string>
            <key>textureFileName</key>
            <string>setup-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
