<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bfanhui</key>
            <dict>
                <key>frame</key>
                <string>{{890,1827},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>Byinxiao</key>
            <dict>
                <key>frame</key>
                <string>{{724,1851},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>Byinyue</key>
            <dict>
                <key>frame</key>
                <string>{{724,1724},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>fanhui</key>
            <dict>
                <key>frame</key>
                <string>{{558,1827},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>fanti</key>
            <dict>
                <key>frame</key>
                <string>{{904,1700},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>houjing</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{1024,426}}</string>
                <key>offset</key>
                <string>{0,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,426}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jianti</key>
            <dict>
                <key>frame</key>
                <string>{{904,1573},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>qianjing</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,760}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{1024,760}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>shengxiao</key>
            <dict>
                <key>frame</key>
                <string>{{904,1446},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>yingwen</key>
            <dict>
                <key>frame</key>
                <string>{{904,1319},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>yinxiao</key>
            <dict>
                <key>frame</key>
                <string>{{904,1192},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>zhezhao</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{554,768}}</string>
                <key>offset</key>
                <string>{-235,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zimu</key>
            <dict>
                <key>frame</key>
                <string>{{558,1192},{344,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,530}}</string>
                <key>sourceSize</key>
                <string>{344,530}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setup-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1070,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f1bd301d5962423bac700aa13e8311$</string>
            <key>textureFileName</key>
            <string>setup-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
