<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bagain</key>
            <dict>
                <key>frame</key>
                <string>{{1481,2},{491,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,339}}</string>
                <key>sourceSize</key>
                <string>{491,339}</string>
            </dict>
            <key>Bditu</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
            <key>again</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{491,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,339}}</string>
                <key>sourceSize</key>
                <string>{491,339}</string>
            </dict>
            <key>ditu</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,349}}</string>
                <key>sourceSize</key>
                <string>{491,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1974,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d9ac18767fadb3077ad614b3433c03$</string>
            <key>textureFileName</key>
            <string>gameover-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
